<!DOCTYPE HTML>
<HTML>
<head>
	<title>Featured Photo Layout</title>
	<link rel="stylesheet" type="text/css" href="css/photoLayout.css">
</head>
<body>
	<!--Do it as two boxes, left and right-->
	<div id="logo" class="logo">Your Logo</div>
	<div id="menu" class="menu">
		<ul id="menuList" class="menuList">
			<li id="menuItem1" class="menuItem">&nbsp;</li>
			<li id="menuItem2" class="menuItem">&nbsp;</li>
			<li id="menuItem3" class="menuItem">&nbsp;</li>
			<li id="menuItem4" class="menuItem">&nbsp;</li>
		</ul>
	</div>
	<div id="main" class="main"></div>
	<div id="footer" class="footer">
		<ul id="footerList" class="footerList">
			<li id="footerItem1" class="footerItem"></li>
			<li id="footerItem2" class="footerItem"></li>
		</ul>	
	</div>

	<!--How it should be done-->
</body>