<!DOCTYPE html>
<html>
	<head>
		<title>Feature Layout </title>
		<link rel="stylesheet" type="text/css" href="css/layout.css">
	</head>

	<body>
		<div id="logo"></div>
		<div id="menu">
			<ul id="menuList">
				<li class="menuItem">1</li>
				<li class="menuItem">2</li>
				<li class="menuItem">Hello World!</li>
				<li class="menuItem">4</li>
			</ul>
		</div>

		<div id="text">
			<h1>Lorem Ipsum</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div id="pic"></div>

	</body>
</html>
